{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>Error!</title>
	<link rel="stylesheet" href="{% static 'eventreg/css/main.css' %}" type="text/css"/>
</head>
<body>
	<div style="color:#dcdcdc;width:98%;text-align:right;font-style:italic;padding: 10px 0px;">
		<a href="/">Go Home</a>
	</div>
	<div class="success_holder">
	<h1 class="registered">Error while Registering! Try Again</h1>
	<a href="/events"><button class="new_btn" >Register Now</button></a>
	</div>
</body>
</html>



