{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>Register</title>
	<link rel="stylesheet" href="{% static 'eventreg/css/checkbox_style.css' %}">
	<link rel="stylesheet" href="{% static 'eventreg/css/main.css' %}" type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<!--<script type="text/javascript" src="{% static 'eventreg/js/pace.min.js' %}"></script>-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- 	<script type="text/javascript">
		history.pushState(null, null, document.URL);
		window.addEventListener('popstate', function () {
		    history.pushState(null, null, document.URL);
		});
	</script> -->
</head>
<body>
	<div style="color:#dcdcdc;width:98%;text-align:right;font-style:italic;padding: 10px 0px;">
		<a href="/">Go Home</a>
	</div>
	<h1 class="title">Registration Panel</h1>
	<form action="" method="POST" accept-charset="UTF-8" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" id="reg_form">
		{% csrf_token %}
		<div class = "register_form" >
			<input class="register_name" type="text" name="name" maxlength="100" value="" placeholder="Your Name"
			autocapitalize="on" autocomplete="off" required/>
			<input class="register_email" type="email" name="email" maxlength="100" value="" placeholder="Email Address"
			pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" autocomplete="off" required/>
			<input class="register_no" type="tel" pattern="[789][0-9]{9}" name="phone_number" value="" placeholder="Phone Number" title=" Enter Valid number (10 digits)" autocomplete="off" required/>
			<div class="register_events">
				<div class="control-group">
				    <h1>DANCE</h1>
				    <label class="control control--checkbox">Eastern Group (800)
				      <input class="chk" type="checkbox" name="events" value="1" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Western Group (800)
				      <input class="chk" type="checkbox" name="events" value="2" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Solo (200)
				      <input class="chk" type="checkbox" name="events" value="3" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Tapanguchi Aadu Machi (200)
				      <input class="chk" type="checkbox" name="events" value="4" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <h1>FASHION</h1>
				    <label class="control control--checkbox">Fashion Show (3000)
				      <input class="chk" type="checkbox" name="events" value="5" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Mr & Ms.Event (200)
				      <input class="chk" type="checkbox" name="events" value="6" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <h1>MUSIC</h1>
				    <label class="control control--checkbox">Indian Group Singing (500)
				      <input class="chk" type="checkbox" name="events" value="7" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Filmy Vocals Solo (100)
				      <input class="chk" type="checkbox" name="events" value="8" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Western Vocals Solo (100)
				      <input class="chk" type="checkbox" name="events" value="9" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Bhavageethe (50)
				      <input class="chk" type="checkbox" name="events" value="40" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Instrumental Solo (100)
				      <input class="chk" type="checkbox" name="events" value="41" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <h1>LITERARY</h1>
				    <label class="control control--checkbox">War of Wits-Debate (200)
				      <input class="chk" type="checkbox" name="events" value="10" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">One True Quiz (200)
				      <input class="chk" type="checkbox" name="events" value="11" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Jam (100)
				      <input class="chk" type="checkbox" name="events" value="12" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Pretentious Movie Review (150)
				      <input class="chk" type="checkbox" name="events" value="13" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Pocket Full of Words-Creative Writing (100)
				      <input class="chk" type="checkbox" name="events" value="14" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Mun (800)
				      <input class="chk" type="checkbox" name="events" value="15" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <h1>ART</h1>
				    <label class="control control--checkbox">Fix the Blot (150)
				      <input class="chk" type="checkbox" name="events" value="16" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <h1>THEATRE</h1>
				    <label class="control control--checkbox">Street Play (800)
				      <input class="chk" type="checkbox" name="events" value="19" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Mad Ads (800)
				      <input class="chk" type="checkbox" name="events" value="20" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Improv (300)
				      <input class="chk" type="checkbox" name="events" value="21" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">War of Emcees (100)
				      <input class="chk" type="checkbox" name="events" value="22" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Stand Up Comedy (100)
				      <input class="chk" type="checkbox" name="events" value="23" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <h1>MICELLANEOUS</h1>
				    <label class="control control--checkbox">Meme Making (100)
				      <input class="chk" type="checkbox" name="events" value="24" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Cooking Without Fire (100)
				      <input class="chk" type="checkbox" name="events" value="25" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">F.R.I.E.N.D.S Quiz (100)
				      <input class="chk" type="checkbox" name="events" value="26" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">MARVEL Quiz (100)
				      <input class="chk" type="checkbox" name="events" value="27" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Strangely Familiar (100)
				      <input class="chk" type="checkbox" name="events" value="29" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">DSI Minute (100)
				      <input class="chk" type="checkbox" name="events" value="30" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Treasure Hunt (150)
				      <input class="chk" type="checkbox" name="events" value="31" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Kannada Anthakshari (100)
				      <input class="chk" type="checkbox" name="events" value="32" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Away We Go (150)
				      <input class="chk" type="checkbox" name="events" value="33" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <h1>GAMING</h1>
				    <label class="control control--checkbox">FIFA 18 (100)
				      <input class="chk" type="checkbox" name="events" value="34" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <h1>MEDIA</h1>
				    <label class="control control--checkbox">On Spot PhotoGraphy (200)
				      <input class="chk" type="checkbox" name="events" value="37" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <label class="control control--checkbox">Short Film Making (400)
				      <input class="chk" type="checkbox" name="events" value="38" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				    <h1>ALL IN ONE</h1>
				    <label class="control control--checkbox">Individual Events (300)
				      <input class="chk" type="checkbox" name="events" value="39" onClick="add_price(this);"/>
				      <div class="control__indicator"></div>
				    </label>
				 </div>
			</div>
			<div class="price_box">Total Amount : Rs.<span id="total_price"></div>
			<input id="amount" type="hidden" name="amount" value="0"/>
			<input id="pay_mode" type="hidden" name="pay_mode" value="onspot"/>
			<input id="submit_btn" class="register_btn" type="submit" name="Submit" value="Register" disabled="disabled"/>
		</div>
	</form>

<!-- JavaScript for returning Price Value-->
	<script type="text/javascript">
	document.getElementById('total_price').innerHTML = " 0 /-";
    var total = 0;
    var dict = {"1" :"800","2" :"800","3" :"200","4":"200","5":"3000","6":"200","7":"500","8":"100",
				"9" :"100","10":"200","11":"200","12":"100","13":"150","14":"100","15":"800","16":"150",
				"17":"150","18":"150","19":"800","20":"800","21":"300","22":"100","23":"100","24":"100",
				"25":"100","26":"100","27":"100","28":"100","29":"100","30":"100","31":"150","32":"100",
				"33":"150","34":"100","35" :"100","36":"250","37":"200","38" :"400","39" :"300","40":"50",
				"41":"100"}
    function add_price(item){
        if(item.checked){
        	var val_plus = parseInt(item.value);
        	var price_plus = dict[val_plus];
            total+= parseInt(price_plus);
        }
        else{
        	var val_minus = parseInt(item.value);
        	var price_minus = dict[val_minus];
            total-= parseInt(price_minus);
        }
        document.getElementById('total_price').innerHTML = total + " /-";
        document.getElementById('amount').value = total;
    }
    </script>

<!-- Jquery for Enabling Submit button only when check box is selected-->
	<script type = "text/javascript">
		$('#submit_btn').prop("disabled", true);
		$('input:checkbox').click(function() {
		        if ($(this).is(':checked')) {
					$('#submit_btn').prop("disabled", false);
		        } else {
				if ($('.chk').filter(':checked').length < 1){
					$('#submit_btn').attr('disabled',true);}
				}
		});
	</script>

<!--  Jquery to prevent multiple form submissions -->
	<script type="text/javascript">
	    $('#reg_form').submit(function(){
            $this = $(this);

            /** prevent double posting */
            if ($this.data().isSubmitted) {
                return false;
            }
            /** mark the form as processed, so we will not process it again */
            $this.data().isSubmitted = true;

            return true;
        });
	</script>

</body>
</html>
			
				

